/*
font-family: 'Oswald', sans-serif;
font-family: 'Titillium Web', sans-serif;
  light - 300
  regular - 400
  semibold - 600
  bold - 700

#161A10 - black
#464647 - gray
#8EC641 - light green
*/

@font-face {
  font-family: 'oswalddemibold';
  src: url('fonts/oswald-demibold-webfont.eot');
  src: url('fonts/oswald-demibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-demibold-webfont.woff2') format('woff2'),
       url('fonts/oswald-demibold-webfont.woff') format('woff'),
       url('fonts/oswald-demibold-webfont.ttf') format('truetype'),
       url('fonts/oswald-demibold-webfont.svg#oswalddemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldmedium';
  src: url('fonts/oswald-medium-webfont.eot');
  src: url('fonts/oswald-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/oswald-medium-webfont.woff2') format('woff2'),
       url('fonts/oswald-medium-webfont.woff') format('woff'),
       url('fonts/oswald-medium-webfont.ttf') format('truetype'),
       url('fonts/oswald-medium-webfont.svg#oswaldmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #464647;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 8px solid #31401D; /* the border */
  width: 80px;
  margin: 10px auto 18px;
}

A:link, A:visited {
  color: #8EC641;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

A:hover, A:active {
  color: #161A10;
  text-decoration: none;
}

H1 {
  font-size: 1.7em;
}

H2 {
  font-size: 1.5em;
}

UL, OL {
  margin: 0 0 0 0.6em;
  padding: 0 0 0 0.6em;
  list-style-type: square;
}

INPUT[type="text"],
INPUT[type="email"],
TEXTAREA {
  border: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.1em 0.7em;
  background: #EBEBEB;
  color: #767676;
  font-family: 'Titillium Web', sans-serif;
  font-size: 23px;
  -webkit-appearance: none;
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: auto; /* Good ol' IE */
}

TEXTAREA {
  padding: 0.5em 0.7em;
  height: 7.5em;
}

INPUT[type="text"]:focus,
INPUT[type="email"]:focus,
TEXTAREA:focus {
  background: #FFFFFF;
}

INPUT::-webkit-input-placeholder { color: #767676; text-transform: uppercase; opacity: 1; }
INPUT:-moz-placeholder { color: #767676; text-transform: uppercase; opacity: 1; } /* FF 4-18 */
INPUT::-moz-placeholder { color: #767676; text-transform: uppercase; opacity: 1; } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #767676; text-transform: uppercase; opacity: 1; } /* IE 10+ */
TEXTAREA::-webkit-input-placeholder { color: #767676; text-transform: uppercase; opacity: 1; }
TEXTAREA:-moz-placeholder { color: #767676; text-transform: uppercase; opacity: 1; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #767676; text-transform: uppercase; opacity: 1; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #767676; text-transform: uppercase; opacity: 1; } /* IE 10+ */

INPUT:focus::-webkit-input-placeholder { color: transparent; }
INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
TEXTAREA:focus::-webkit-input-placeholder { color: transparent; }
TEXTAREA:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
TEXTAREA:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
TEXTAREA:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

INPUT[type="submit"] {
  border: 0;
  box-sizing: border-box;
  padding: 0.4em 0.8em;
  background: #8EC641;
  color: #FFFFFF;
  font-family: 'oswalddemibold', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  margin: 0 auto;
}

INPUT[type="submit"]:hover {
  background: #767676;
}

.site-width {
  width: 1000px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.one-fourth {
  float: left;
  width: 22.75%;
  margin-right: 3%;
}

.one-half {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.one-third {
  float: left;
  width: 30%;
  margin-right: 5%;
}

.two-third {
  float: left;
  width: 65%;
  margin-right: 5%;
}

.three-fourth {
  float: left;
  width: 74.25%;
  margin-right: 3%;
}

.one-fourth.last,
.one-half.last,
.one-third.last,
.two-third.last,
.three-fourth.last {
  margin-right: 0;
}

.center {
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
}

A.ttg-button:link, A.ttg-button:visited {
  background: #EBEBEB;
  color: #31401D;
  text-decoration: none;
  font-family: 'oswalddemibold', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 1em;
  text-transform: uppercase;
  padding: 0.5em 0.7em;
  display: inline-block;
}

A.ttg-button:hover, A.ttg-button:active {
  background: #8EC641;
  color: #FFFFFF;
  text-decoration: none;
}

A.ttg-button:before {
  font-family: FontAwesome;
  content: '\f067';
  color: #8EC641;
  font-size: 70%;
  font-weight: normal;
  vertical-align: top;
  margin: 0.5em 0.3em 0 0;
}

A.ttg-button:hover:before {
  color: #31401D;
}

.arrow-link,
.arrow-link:link,
.arrow-link:visited {
  color: #31401D;
  font-family: 'oswaldmedium', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.arrow-link:after {
  font-family: FontAwesome;
  content: '\f061';
  color: #8EC641;
  font-size: 70%;
  font-weight: normal;
  vertical-align: 20%;
  margin-left: 1em;
}

.arrow-link:hover,
.arrow-link:active {
  color: #8EC641;
}

.arrow-link:hover:after {
  color: #464647;
}

A.down:link, A.down:visited {
  font-family: 'oswaldmedium', sans-serif;
}

A.down:before {
  font-family: FontAwesome;
  content: "\f078";
  font-size: 50%;
  vertical-align: 15%;
  margin-right: 0.5em;
}

.header-home {
  height: 850px;
  background-image: url(../images/banner-home.jpg);
  background-position: center center;
  background-size: cover;
}

.header {
  min-height: 100px;
  background-image: url(../images/green-background.jpg);
}

.header .menu,
.menu.sticky {
  position: fixed;
  width: 100%;
  background: #161A10;
  padding: 0.5em 0 0.2em;
  line-height: 1em;
  -webkit-box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
  -moz-box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
  z-index: 999;
}

#logo {
  margin: 17px 0 0 2%;
}

.header .menu #logo,
.menu.sticky #logo {
  margin: 0;
}

#menu-toggle,
#show-menu {
  display: none;
}

#show-menu:checked + #main-menu {
  display: block;
}

#main-menu {
  float: right;
  font-family: 'Oswald', sans-serif;
  padding-top: 3.5em;
}

.header .menu #main-menu,
.menu.sticky #main-menu {
  padding-top: 1.5em;
}

#main-menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main-menu UL LI {
  float: left;
  margin-left: 2.5em;
  padding-bottom: 4px;
  position: relative;
  z-index: 99;
}

#main-menu UL LI:first-child {
  margin-left: 0;
}

#main-menu UL LI:hover {
  border-bottom: 5px solid #8EC641;
}

#main-menu UL LI A:link, #main-menu UL LI A:visited,
#main-menu UL LI UL LI A:link, #main-menu UL LI UL LI A:visited {
  color: #FFFFFF;
  text-decoration: none;
}

#main-menu UL LI A:hover,
#main-menu UL LI A:active {
  color: #FFFFFF;
  text-decoration: none;
}

#main-menu UL LI UL {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main-menu UL LI:hover UL {
  display: block;
  position: absolute;
  top: 1.9em;
  left: 0;
}

.menu.sticky #main-menu UL LI:hover UL {
  top: 1.5em;
  left: -0.8em;
  background: #161A10;
  padding: 0.2em 0.8em 0.5em;
  -webkit-box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
  -moz-box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.65);
}

#main-menu UL LI UL LI {
  float: none;
  margin: 0;
  padding: 0.5em 0;
  font-size: 0.8em;
  height: 1em;
  line-height: 1em;
}

#main-menu UL LI UL LI:hover {
  border-bottom: 0;
}

#main-menu UL LI UL LI A {
  display: block;
  white-space: nowrap;
}

#main-menu UL LI UL LI A:hover,
#main-menu UL LI UL LI A:active {
  color: #8EC641;
}

.subheader {
  padding: 3.5em 0 1.2em; /* Extra 2.3em on top for menu space */
  font-family: 'oswalddemibold', sans-serif;
  font-size: 39px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #161A10;
  margin-bottom: 2em;
}

.subheader SUP {
  text-transform: none;
  font-size: 50%;
  line-height: 1em;
}

.subheader .fa-circle-o {
  color: #FFFFFF;
  font-size: 40%;
  vertical-align: 60%;
  margin: 0 0.8em;
}

.banner-home {
  color: #FFFFFF;
  font-size: 111.11%;
  box-sizing: border-box;
  padding: 5.5em 0 0 11.2%;
}

.banner-home H1 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 645%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.9em;
}

.banner-home H1 SUP {
  font-size: 55%;
}

.banner-home H2 {
  margin: 1em 0 1.4em;
  font-family: 'Oswald', sans-serif;
  font-size: 140%;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1em;
}

.banner-home-text {
  width: 78%;
  padding-bottom: 6em;
}

.banner-home A.ttg-button:link, .banner-home A.ttg-button:visited {
  background: #8EC641;
}

.banner-home A.ttg-button:hover, .banner-home A.ttg-button:active {
  background: #FFFFFF;
  color: #8EC641;
}

.banner-home A.ttg-button:before { color: #FFFFFF; }
.banner-home A.ttg-button:hover:before { color: #31401D; }

.banner-home A.lm-button:link, .banner-home A.lm-button:visited {
  color: #8EC641;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 1em;
  text-transform: uppercase;
  padding: 0.5em 0.7em;
  display: inline-block;
  margin-left: 1em;
}

.banner-home A.lm-button:hover, .banner-home A.lm-button:active {
  color: #FFFFFF;
  text-decoration: none;
}

.banner-home A.lm-button:before {
  font-family: FontAwesome;
  content: '\f107';
  color: #FFFFFF;
  vertical-align: top;
  margin: 0.5em 0.3em 0 0;
}

.banner-home A.lm-button:hover:before {
  color: #8EC641;
}

.sponsors {
  height: 136px;
  line-height: 136px;
  background: #F1F1F2;
}

.sponsors #sponsor-scroll DIV {
  float: left;
  width: 50%;
}

.sponsors #sponsor-scroll DIV IMG {
  vertical-align: middle;
  margin-left: 14%;
}

.sponsors #sponsor-scroll DIV:first-child IMG:first-child {
  margin-left: 0;
}

.core-values {
  padding-top: 4.4em;
  color: #161A10;
  line-height: 2.167em;
}

.core-values .one-fourth {
  font-family: 'oswaldmedium', sans-serif;
  font-size: 433%;
  line-height: 1.1em;
  text-transform: uppercase;
  color: #8EC641;
}

.core-values .one-fourth HR {
  margin-top: 0.9em;
}

.core-values .three-fourth .two-third {
  text-align: right;
  padding-left: 4%;
}

.core-values .three-fourth .one-third {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  font-weight: bold;
  line-height: 1.44em;
  text-transform: uppercase;
  width: 26%;
  padding-top: 0.1em;
}

.home-event {
  background: #20221E;
  color: #E1E1E1;
  padding: 3em 0;
  margin-top: 5em;
}

.home-event .col1 {
  float: left;
  width: 38.4%;
  margin-right: 6.2%;
  padding-top: 18%;
  position: relative;
}

.home-event .col2 {
  float: right;
  width: 55.4%;
  margin-right: 0;
  padding-top: 0;
  font-size: 88.88%;
}

.home-event .event-image {
  width: 100%;
  padding-top: 78.125%;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: -8em;
  -webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 25px 8px rgba(0,0,0,0.2);
  box-shadow: 0 0 25px 8px rgba(0,0,0,0.2);
}

.home-event .event-blurb {
  color: #CDCDCC;
  line-height: 1.8em;
  margin-bottom: 1em;
}

.home-event UL {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
  font-family: 'oswaldmedium', sans-serif;
  font-size: 166.66%;
  line-height: 1.5em;
  text-transform: uppercase;
}

.home-event LI:before {    
  font-family: 'FontAwesome';
  content: '\f1db';
  font-size: 35%;
  vertical-align: 20%;
  margin-right: 0.5em;
  color: #8EC641;
}

.home-event UL LI UL {
  display: none;
}

.home-event .event-schedule-details {
  margin-top: 0.9em;
  font-size: 105.55%;
  color: #FFFFFF;
}

.home-event .event-schedule-details STRONG {
  color: #8EC641;
}

.home-event .col2 H1,
.home-event .col2 H2,
.home-event .col2 H3,
.home-event .col2 H4 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
}

.home-event .col2 H1 {
  font-size: 487.5%;
  color: #FFFFFF;
  margin-bottom: 0.2em;
}

.home-event .col2 H2 {
  font-size: 325%;
  color: #8EC641;
}

.home-event .col2 HR {
  margin: 4em 0 4.5em;
  border-top-color: #D9D9D8;
}

.home-event .col2 H3 {
  font-size: 325%;
  margin-bottom: 0.4em;
}

.home-event .col2 H3 SUP {
  font-size: 55%;
}

.home-event .col2 H4 {
  font-size: 137.5%;
  margin-bottom: 0.2em;
}

.home-event .col2 H4 SPAN {
  color: #8EC641;
}

.home-event .col2 .ttg-button {
  margin-top: 3.5em;
}

.then-now {
  font-size: 88.88%;
  line-height: 1.4em;
  padding: 4em 0;
}

.then-now .one-half {
  width: 51.5%;
  margin-right: 5.1%;
}

.then-now .one-half.last {
  width: 43.4%;
  margin-right: 0;
}

.then-now > .one-half {
  font-family: 'oswaldmedium', sans-serif;
  font-size: 615%;
  line-height: 1em;
  color: #161A10;
}

.then-now > .one-half.last {
  font-family: 'oswaldmedium', sans-serif;
  font-size: 209%;
  line-height: 1em;
  text-transform: uppercase;
}

.then-now #story-pager A:link,
.then-now #story-pager A:visited {
  color: #D7D7D7;
  display: block;
  margin-bottom: 0.7em;
}

.then-now #story-pager A:hover,
.then-now #story-pager A:active,
.then-now #story-pager A.cycle-pager-active {
  color: #464647;
}

.then-now .cycle-slideshow > DIV {
  width: 100%;
  padding: 1.5em 0 2em;
}

.then-now .cycle-slideshow H2 {
  font-family: 'oswaldmedium', sans-serif;
  font-size: 262.5%;
  line-height: 1em;
  color: #161A10;
  margin: 0 0 0.2em;
}

.then-now .cycle-slideshow UL {
  font-weight: 600;
}

.then-now .cycle-slideshow HR {
  border-top-color: #8DC73F;
  margin: 1em 0 2.5em;
}

.then-now .cycle-slideshow IMG {
  -webkit-box-shadow: 0 0 25px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 25px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 25px 2px rgba(0,0,0,0.3);
  max-width: 100%;
  height: auto;
}

.then-now .arrow-link {
  font-family: 'oswalddemibold', sans-serif;
  font-size: 19px;
  cursor: pointer;
}

.then-now .arrow-link:after {
  vertical-align: 15%;
}

#stats {
  height: 450px;
  background: url(../images/stats-background.jpg) no-repeat center center;
  background-size: cover;
  color: #8DC73F;
  font-size: 66.66%;
  text-align: center;
  box-sizing: border-box;
  padding: 5em 0 0;
}

#stats .site-width {
  background: url(../images/stats-border.png) no-repeat center top;
  min-height: 286px;
  margin-bottom: 4em;
}

#stats .one-half {
  color: #FFFFFF;
  font-size: 133.33%;
  width: 50%;
  margin-right: 0;
  padding: 0 10%;
  box-sizing: border-box;
}

#stats H3 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 887.5%;
  line-height: 0.84em;
  margin: 0;
}

#stats H3 SUP {
  font-size: 55%;
}

#stats HR {
  border-top-color: #8DC73F;
  margin: 2.1em auto 1.9em;
}

.news-twitter {
  padding: 4em 0;
}

.news-twitter H3 {
  color: #28341A;
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 133.33%;
  line-height: 1em;
  margin: 0 0 1.5em;
}

.news-twitter .news {
  border-right: 1px solid #EBEBEB;
  box-sizing: border-box;
  padding-right: 3%;
}

.news-twitter .news .news-col1 {
  float: left;
  width: 54%;
  margin-right: 4.32%;
}

.news-twitter .news .news-col2 {
  float: left;
  width: 40%;
}

.news-twitter .news .news-col1 .post,
.news-twitter .news .news-col2 .post {
  color: #FFFFFF;
  background-position: center center;
  background-size: cover;
}

.news-twitter .news .news-col2 .post {
  margin-bottom: 1.7em;
}

.news-twitter .news .news-col1 .post .overlay,
.news-twitter .news .news-col2 .post .overlay {
  background: rgba(22, 26, 15, 0.8);
  padding: 1.5em 6.84%;
}

.news-twitter .news .post .post-date {
  font-family: 'oswalddemibold', sans-serif;
  font-size: 77.77%;
  text-transform: uppercase;
  color: #8EC641;
  margin-bottom: 1em;
}

.news-twitter .news .post H2 {
  font-family: 'oswaldmedium', sans-serif;
  font-size: 261.11%;
  font-weight: normal;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0 0 0.3em;
}

.news-twitter .news .news-col2 .post H2 {
  font-size: 133.33%;
  line-height: 1.4em;
  margin-bottom: 1em;
}

.news-twitter .news .post .post-text {
  font-size: 83.33%;
  margin-bottom: 4em;
}

.news-twitter .news .news-col1 A.ttg-button:link,
.news-twitter .news .news-col1 A.ttg-button:visited {
  background: #8EC641;
  font-family: 'oswalddemibold', sans-serif;
  font-size: 14px;
  padding: 1em;
}

.news-twitter .news .news-col1 A.ttg-button:hover,
.news-twitter .news .news-col1 A.ttg-button:active {
  background: #31401D;
  color: #FFFFFF;
}

.news-twitter .news .news-col1 A.ttg-button:before,
.news-twitter .news .news-col1 A.ttg-button:hover:before {
  color: #FFFFFF;
}

.news-twitter .news .news-col2 A.ttg-button:link,
.news-twitter .news .news-col2 A.ttg-button:visited {
  color: #FFFFFF;
  background: none;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 0;
}

.news-twitter .news .news-col2 A.ttg-button:hover,
.news-twitter .news .news-col2 A.ttg-button:active {
  background: none;
  color: #8EC641;
}

.news-twitter .news .news-col2 A.ttg-button:before,
.news-twitter .news .news-col2 A.ttg-button:hover:before {
  color: #8EC641;
}

.news-twitter .social-icon {
  background: #29341D;
  display: block;
  margin: 0 0 1.8em 0;
}

.news-twitter .twitter {
  font-size: 94.44%;
  font-weight: 300;
  line-height: 1.2em;
}

.news-twitter .twitter .twitter-name {
  font-weight: 600;
}

.news-twitter .twitter #twitter-feed {
  margin: 1em 0;
}

.news-twitter .twitter UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news-twitter .twitter LI .tweet {
  position: relative;
  margin: 0 0 1em;
  padding-bottom: 1em;
}

.news-twitter .twitter LI .tweet:before {
  content: "";
  width: 18px;
  height: 1px;
  background: #161A10;
  position: absolute;
  top: -1em;
  left: 0;
}

.news-twitter .twitter LI:first-child .tweet:before {
  height: 0;
}

.home-contact {
  background: url(../images/green-background.jpg) no-repeat center top;
  padding-top: 5em;
}

.home-contact H3 {
  font-family: 'oswalddemibold', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #161A10;
  margin: 0 0 1em;
}

.home-contact .mailing-list {
  margin-bottom: 4em;
}

.home-contact .mailing-list INPUT[type="text"] {
  width: 79%;
  height: 1em;
  box-sizing: content-box;
  padding: 0.3em 0;
  background: transparent;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 300;
  border-bottom: 1px solid #161A10;
  margin-right: 5.4%;
}

.home-contact .mailing-list INPUT::-webkit-input-placeholder { color: #FFFFFF; }
.home-contact .mailing-list INPUT:-moz-placeholder { color: #FFFFFF; } /* FF 4-18 */
.home-contact .mailing-list INPUT::-moz-placeholder { color: #FFFFFF; } /* FF 19+ */
.home-contact .mailing-list INPUT:-ms-input-placeholder { color: #FFFFFF; } /* IE 10+ */
.home-contact .mailing-list INPUT:focus::-webkit-input-placeholder { color: transparent; }
.home-contact .mailing-list INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
.home-contact .mailing-list INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
.home-contact .mailing-list INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

.home-contact .mailing-list INPUT[type="submit"] {
  padding: 0.4em 2em;
  background: #28341A;
  display: inline-block;
  margin: 0;
}

.home-contact .mailing-list INPUT[type="submit"]:hover {
  background: #767676;
}

.home-contact .contact,
.event-sponsor .contact,
.tee-to-green .contact {
  padding: 0.5em 5% 2.5em;
  background: #28341A;
  color: #FFFFFF;
}

.event-sponsor .contact {
  margin-top: 5.5em;
  background: #31401D;
}

.tee-to-green .contact {
  margin-top: 4em;
  background: #061A2F;
}

.contact #contact-form-messages {
  height: 1.5em;
  text-align: center;
  color: #E14E41;
  margin-bottom: 0.5em;
}

.contact H2 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 155.55%;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1em;
}

.contact .required {
  font-size: 77.77%;
  margin-bottom: 0.5em;
}

.event-sponsor {
  margin-top: 5em;
  position: relative;
}

.tee-to-green {
  position: relative;
}

.event-sponsor:before,
.tee-to-green:before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 741px;
  background: #1F2717;
}

.tee-to-green:before {
  background: #0555A2;
}

.event-sponsor .site-width {
  padding-top: 5.5em;
}

.tee-to-green .site-width {
  padding-top: 4em;
}

.event-sponsor .one-third,
.tee-to-green .one-third {
  width: 33%;
  margin-right: 4%;
  text-align: right;
}

.tee-to-green .one-third IMG {
  max-width: 100%;
  height: auto;
}

.event-sponsor .one-third H2 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 350%;
  line-height: 1.2em;
  color: #8EC641;
  margin: 0 0 0.8em;
}

.event-sponsor .one-third A.ttg-button:link,
.event-sponsor .one-third A.ttg-button:visited {
  background: transparent;
  color: #EBEBEB;
  border: 4px solid #464646;
}

.event-sponsor .one-third A.ttg-button:hover,
.event-sponsor .one-third A.ttg-button:active {
  background: transparent;
  color: #8EC641;
  border: 4px solid #FFFFFF;
}

.event-sponsor .two-third,
.tee-to-green .two-third {
  width: 63%;
  color: #FFFFFF;
  font-size: 111.11%;
  line-height: 1.5em;
}

.tee-to-green .two-third UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tee-to-green .two-third UL LI {
  line-height: 1.3em;
  padding: 0 0 0.4em 0.8em;
  position: relative;
}

.tee-to-green .two-third UL LI:before {
  font-family: FontAwesome;
  content: "\f111";
  font-size: 40%;
  color: #161A10;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}

.tee-to-green .two-third A.down:link,
.tee-to-green .two-third A.down:visited {
  color: #FFFFFF;
}

.tee-to-green .two-third A.down:before {
  color: #161A10;
}

.tee-to-green .two-third A.down:hover,
.tee-to-green .two-third A.down:active {
  color: #161A10;
}

.prefooter {
  padding: 2.4em 0;
  position: relative;
}

#logo-footer {
  float: left;
  margin-right: 5.5%;
}

#footer-menu {
  float: left;
  padding-top: 3.5em;
  font-size: 83.33%;
  line-height: 1em;
}

#footer-menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footer-menu UL LI {
  float: left;
  margin-left: 2.5em;
}

#footer-menu UL LI:first-child {
  margin-left: 0;
}

#footer-menu UL LI A:link, #footer-menu UL LI A:visited {
  color: #959595;
  text-decoration: none;
  font-weight: 600;
}

#footer-menu UL LI A:hover,
#footer-menu UL LI A:active {
  color: #8EC641;
  text-decoration: none;
}

#footer-menu UL LI UL {
  display: none;
}

.social {
  text-align: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.social-icon,
.social A:link, .social A:visited {
  color: #FFFFFF;
  font-size: 90%;
  line-height: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  border-top-right-radius: 0;
  margin-left: 0.5em;
}

A.facebook:link, A.facebook:visited { background: #3B5B9B; }
A.twitter:link, A.twitter:visited { background: #2CAADF; }
A.youtube:link, A.youtube:visited { background: #E14E41; }
A.instagram:link, A.instagram:visited { background: #517EA3; }

.social A:hover, .social A:active {
  background: #8EC641;
}

.footer {
  background: #161A10;
  color: #C2C2C1;
  font-family: 'Oswald', sans-serif;
  font-size: 111.11%;
  text-transform: uppercase;
  line-height: 1em;
}

.footer .site-width {
  position: relative;
  height: 78px;
}

.footer-left {
  width: 100%;
  position: absolute;
  top: 50%; transform: translateY(-50%);
}

.copyright {
  display: inline-block;
  color: #898989;
  font-family: 'Titillium Web', sans-serif;
  font-size: 70%;
  text-transform: none;
  line-height: 1em;
  border-right: 2px solid #6B6B68;
  padding-right: 3%;
  margin-right: 3%;
  position: relative;
  top: -2px;
}

.footer-event {
  display: inline-block;
}

.footer SUP {
  text-transform: none;
  font-size: 50%;
}

.footer .fa-circle-o {
  color: #8EC641;
  font-size: 40%;
  vertical-align: 60%;
  margin: 0 1em;
}

.backtotop {
  text-align: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80%;
}

.backtotop A:link, .backtotop A:visited {
  color: #C2C2C1;
  position: relative;
  top: 2px;
}

.backtotop A:hover, .backtotop A:active {
  color: #8EC641;
}

.backtotop SPAN {
  position: relative;
  top: -2px;
  margin-left: 1em;
}

.backtotop .fa-angle-up {
  font-weight: bold;
  color: #161A10;
}

.blog-entry {
  padding-bottom: 3em;
}

HR.event {
  border: none 0;
  border-top: 1px solid #D7D7D7; /* the border */
  width: 100%;
  margin: 5em auto;
}

.subheader.countdown {
  padding: 3.1em 0 0.8em; /* Extra 2.3em on top for menu space */
}

.subheader.countdown.single-event {
  margin-bottom: 0;
}

.countdown-text {
  float: left;
  width: 42%;
  padding: 0.2em 4% 0.2em 0;
  box-sizing: border-box;
  border-right: 1px solid #28341A;
  text-align: left;
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 38px;
  line-height: 1em;
  text-transform: none;
  color: #FFFFFF;
}

.countdown-text .flex-width {
  display: inline-block;
}

.countdown-text H2 {
  font-family: 'oswalddemibold', sans-serif;
  font-weight: normal;
  font-size: 46px;
  line-height: 1em;
  text-align: right;
  color: #161A10;
  margin: 0 0 0.2em;
  display: inline-block;
  width: 100%;
}

.single-event .countdown-text H2 {
  font-size: 76px;
  margin: 0.1em 0;
}

#countdown {
  float: right;
  width: 56%;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 78px;
  text-transform: none;
  padding-top: 0.1em;
}

#countdown DIV {
  color: #FFFFFF;
  display: inline-block;
  line-height: 0.8em;
}

#countdown DIV DIV {
  font-weight: normal;
  font-size: 17px;
  display: block;
  padding-top: 0.7em;
}

#countdown DIV.sep {
  vertical-align: top;
  color: #31401D;
}

.event-banner {
  height: 496px;
  background-position: center top;
  background-size: cover;
  margin-bottom: 3em;
}

.event-banner .overlay {
  background: rgba(22, 26, 15, 0.7);
  height: inherit;
}

.event-banner .overlay .site-width {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #FFFFFF;
}

.event-banner H2,
.event-banner H3,
.event-banner H4 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 58px;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0 0 0.5em;
}

.event-banner H2 {
  font-size: 80px;
  margin: 0 0 0.3em;
}

.event-banner H4 {
  font-size: 24px;
  margin: 1em 0 0.2em;
}

.event .blurb {
  font-size: 122.22%;
  text-align: center;
  padding-bottom: 2.5em;
  margin-bottom: 2.5em;
}

.event .one-half {
  color: #555555;
  margin-bottom: 5em;
}

.event .one-half STRONG {
  font-size: 122.22%;
  font-weight: 600;
  line-height: 1.4em;
}

.event H3 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 322.22%;
  line-height: 1em;
  color: #8EC641;
  text-decoration: underline;
  margin: 0 0 0.75em;
}

.event H4 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 172.22%;
  line-height: 1em;
  color: #28341A;
  margin: 0 0 0.1em;
}

.event UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.event UL LI {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 172.22%;
  line-height: 1em;
  text-transform: uppercase;
  color: #28341A;
  padding-bottom: 1em;
}

.event UL LI UL {
  margin: 0 0 0 0.8em;
  list-style-type: circle;
}

.event UL LI UL LI {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4em;
  text-transform: none;
  color: #555555;
  padding-bottom: 0;
}

.moreinfo {
  font-size: 105.55%;
  text-align: center;
}

.moreinfo:before {
  content: "";
  display: table;
  clear: both;
}

.moreinfo A:link, .moreinfo A:visited {
  color: #161A10;
}

.moreinfo A:hover, .moreinfo A:active {
  color: #8EC641;
}

.event .image {
  float: left;
  width: 38.4%;
}

.event .info {
  float: right;
  width: 55.4%;
}

.event .image .image-background {
  width: 100%;
  padding-top: 78.125%;
  background-position: center top;
  background-size: cover;
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
}

.event .info H2 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 322.22%;
  line-height: 1em;
  text-transform: uppercase;
  color: #161A10;
  margin: 0 0 0.5em;
}

.event .info H3 {
  font-family: 'oswaldmedium', sans-serif;
  font-weight: normal;
  font-size: 277.77%;
  line-height: 1em;
  text-transform: uppercase;
  color: #8EC641;
  margin: 0 0 0.25em;
}

.event .info A.ttg-button:link, .event .info A.ttg-button:visited {
  background: transparent;
  margin-top: 3em;
  border: 4px solid #B7B7B8;
}

.event .info A.ttg-button:hover, .event .info .event .info A.ttg-button:active {
  background: transparent;
  color: #8EC641;
  border: 4px solid #464647;
}

.ttg .one-fourth {
  line-height: 1.8em;
}

.ttg .three-fourth {
  font-size: 116.66%;
  line-height: 2em;
  color: #363636;
  margin-bottom: 4em;
}

.ttg .nine {
  font-family: 'oswaldmedium', sans-serif;
  font-size: 150%;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #161A10;
  margin-bottom: 4em;
}

.ttg .one-half.center {
  padding-top: 3em;
}

.ttg .one-half {
  margin-bottom: 4em;
}

.ttg .one-half IMG {
  max-width: 100%;
}

.ttg .pull {
  font-family: 'oswaldmedium', sans-serif;
  font-size: 32px;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
  color: #898989;
  padding-top: 2.25em;
}

.ttg H4 {
  font-family: 'oswaldmedium', sans-serif;
  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
  color: #161A10;
  margin: 0 0 0.5em;
}

.tee-to-green-links {
  margin-top: 4em;
  background: #161A10;
  padding: 1.75em 0;
  text-align: center;
}

.tee-to-green-links A.ttg-button:link,
.tee-to-green-links A.ttg-button:visited {
  margin: 0 1.5em;
  border: 4px solid #464646;
  background: transparent;
  color: #EBEBEB;
}

.tee-to-green-links A.ttg-button:hover,
.tee-to-green-links A.ttg-button:active {
  border: 4px solid #EBEBEB;
  color: #8EC641;
}

.tee-to-green-links A.ttg-button:hover:before {
  color: #8EC641;
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .site-width {
    width: 96%;
  }

  .subheader .fa-circle-o {
    display: block;
    visibility: hidden;
    font-size: 0.1em;
    vertical-align: 0;
  }

  .banner-home {
    padding-left: 6%;
  }

  .banner-home H1 {
    font-size: 545%;
  }

  .sponsors #sponsor-scroll DIV {
    float: none;
    width: 100%;
    text-align: center;
  }

  .sponsors #sponsor-scroll DIV IMG:first-child {
    margin-left: 0;
  }

  .core-values .one-fourth {
    font-size: 340%;
  }

  .core-values .three-fourth .one-third {
    font-size: 115%;
  }

  .home-event .col1 {
    padding-top: 15%;
  }

  .then-now .cycle-slideshow IMG {
    max-width: 100%;
  }

  .news-twitter .twitter {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .home-contact .mailing-list INPUT[type="text"] {
    width: 74%;
  }

  .event-sponsor .one-third H2 {
    font-size: 310%;
  }

  .event-sponsor .one-third A.ttg-button {
    font-size: 85%;
  }

  .backtotop .btt-text {
    display: none;
  }

  .backtotop SPAN {
    margin-left: 0;
  }

  .countdown-text {
    font-size: 24px;
  }

  .countdown-text H2 {
    font-size: 40px;
  }

  .single-event .countdown-text H2 {
    font-size: 60px;
  }

  #countdown {
    font-size: 56px;
  }

  .event H3 {
    font-size: 280%;
  }

  .event H4,
  .event UL LI {
    font-size: 165%;
  }

  .ttg .nine {
    font-size: 145%;
  }

  .ttg .one-half.center {
    padding-top: 1em;
  }

  .ttg .pull {
    padding-top: 0.4em;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .banner-home {
    padding-top: 4em;
  }

  .core-values .one-fourth,
  .core-values .three-fourth {
    float: none;
    width: 100%;
  }

  .core-values .one-fourth HR {
    margin-top: 0.3em;
  }

  .home-event .col1,
  .home-event .col2 {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .home-event .event-image {
    position: static;
  }

  .home-event .col2 HR {
    margin: 2em 0;
  }

  .home-event .col2 .ttg-button {
    margin: 2em 0;
  }

  .then-now .one-half,
  .then-now .one-half.last {
    float: none;
    width: 100%;
  }

  .news-twitter .three-fourth,
  .news-twitter .one-fourth.last {
    float: none;
    width: 100%;
  }

  .news-twitter .news {
    border-right: 0;
    padding: 0 0 3em 0;
  }

  .home-contact .mailing-list INPUT[type="text"] {
    width: 73%;
    margin-right: 1%;
  }

  .contact #contact-form .one-half {
    float: none;
    width: 100%;
    margin-bottom: 1.3em;
  }

  .contact #contact-form .one-half.last {
    margin-bottom: 0;
  }

  .event-sponsor .site-width,
  .tee-to-green .site-width {
    width: 100%;
    padding: 3em 0 0;
  }

  .event-sponsor .one-third,
  .event-sponsor .two-third,
  .tee-to-green .one-third,
  .tee-to-green .two-third {
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3% 3em;
    margin: 0 auto;
    background: #1F2717;
  }

  .tee-to-green .one-third,
  .tee-to-green .two-third {
    background: #0555A2;
  }

  .event-sponsor .one-third,
  .tee-to-green .one-third {
    text-align: center;
    padding-bottom: 1em;
  }

  .event-sponsor .one-third H2 {
    font-size: 350%;
    margin: 0 0 0.2em;
  }

  .event-sponsor .one-third A.ttg-button {
    font-size: 100%;
  }

  .event-sponsor .contact,
  .tee-to-green .contact {
    width: 96%;
    box-sizing: border-box;
    margin: 3em auto 0;
  }

  #footer-menu {
    display: none;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright {
    display: block;
    border-right: 0;
    padding: 1em 0 0 0;
    margin-right: 0;
    order: 1;
    width: 100%;
    text-align: center;
  }

  .footer-event {
    width: 100%;
    text-align: center;
  }

  .backtotop {
    top: -60%;
    transform: none;
  }

  .countdown-text,
  #countdown {
    float: none;
    width: 100%;
    text-align: center;
    padding-right: 0;
    border: 0;
    font-size: 38px;
  }

  .countdown-text .flex-width {
    display: block;
  }

  .countdown-text H2 {
    text-align: center;
    font-size: 46px;
  }

  .single-event .countdown-text H2 {
    font-size: 76px;
    margin: 0;
  }

  #countdown {
    font-size: 78px;
  }

  .event .one-half,
  .event .one-half.last {
    float: none;
    width: 100%;
    margin: 0 0 4em;
  }

  .event H3 {
    font-size: 322.22%;
  }

  .event H4,
  .event UL LI {
    font-size: 172.22%;
  }

  .event .image,
  .event .info {
    float: none;
    width: 100%;
  }

  .event .image {
    padding-bottom: 1em;
  }

  .event .info A.ttg-button:link, .event .info A.ttg-button:visited {
    margin-top: 1.5em;
  }

  .ttg .one-fourth,
  .ttg .three-fourth,
  .ttg .one-half {
    float: none;
    width: 100%;
    margin: 0 0 30px 0;
  }

  .ttg .nine {
    font-size: 150%;
  }

  .ttg .one-half.center,
  .ttg .pull {
    padding-top: 0;
  }

  .ttg H4 {
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .header-home {
    height: 600px;
  }

  #menu-toggle {
    display: block;
    cursor: pointer;
    float: right;
    margin: 40px 3% 0 0;
    color: #EBEBEB;
    font-size: 3em;
  }
  
  .header .menu #menu-toggle,
  .menu.sticky #menu-toggle {
    margin-top: 10px;
  }
  
  #main-menu {
    float: none;
    width: 100%;
    position: absolute;
    top: 140px;
    left: 0;
    z-index: 999999;
    display: none;
    padding: 0;
  }

  .header .menu #main-menu,
  .menu.sticky #main-menu {
    top: 88px;
    padding-top: 0;
  }

  #main-menu UL {
    background: #161A10;
    padding: 0.5em 5%;
  }

  #main-menu UL LI,
  #main-menu UL LI UL LI {
    float: none;
    margin-left: 0;
    padding: 0.75em 0;
    border-top: 1px solid #8EC641;
    font-size: 28px;
  }

  #main-menu UL LI:hover {
    border-bottom: 0;
  }

  #main-menu UL LI UL,
  #main-menu UL LI:hover UL,
  .menu.sticky #main-menu UL LI:hover UL {
    display: block;
    position: relative;
    top: 0.75em;
    left: 0;
    padding: 0;
  }

  #main-menu UL LI UL LI A:hover,
  #main-menu UL LI UL LI A:active {
    color: #FFFFFF;
  }

  .banner-home {
    padding-left: 4%;
  }

  .banner-home H1 {
    font-size: 280%;
  }

  .banner-home H2 {
    margin: 0.6em 0 0.9em;
  }

  .banner-home-text {
    width: 100%;
    padding-bottom: 4em;
  }

  .banner-home A.lm-button:link, .banner-home A.lm-button:visited {
    padding: 0.5em 0;
    margin-left: 1em;
  }

  .sponsors #sponsor-scroll DIV IMG {
    height: 65px;
    width: auto;
    margin-left: 7%;
  }

  .core-values .three-fourth .two-third,
  .core-values .three-fourth .one-third {
    float: none;
    width: 100%;
    padding: 0;
  }

  .core-values .three-fourth .one-third {
    font-size: 150%;
    padding-top: 1em;
  }

  #stats {
    height: auto;
    padding: 2em 0 2.5em;
    box-sizing: content-box;
    line-height: 1.4em;
  }

  #stats .site-width {
    background: none;
    margin-bottom: 2em;
    line-height: 1.8em;
  }

  #stats .one-half {
    float: none;
    width: 100%;
  }

  #stats .one-half.last {
    margin-top: 2em;
    padding-top: 1.3em;
    position: relative;
  }

  #stats .one-half.last:before {
    content: "";
    position: absolute;
    top: -142px;
    left: 50%;
    width: 7px;
    height: 286px;
    background: url(../images/stats-border.png) no-repeat center top;
    transform: rotate(90deg);
  }

  .news-twitter .news .news-col1,
  .news-twitter .news .news-col2 {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .news-twitter .news .news-col1 .post {
    margin-bottom: 1.7em;
  }

  .home-contact .mailing-list INPUT[type="text"] {
    width: 100%;
    margin: 0;
  }

  .home-contact .mailing-list INPUT[type="submit"] {
    display: block;
    margin: 0.8em auto 0;
  }

  .home-contact .mailing-list INPUT::-webkit-input-placeholder { font-size: 89%; }
  .home-contact .mailing-list INPUT:-moz-placeholder { font-size: 89%; } /* FF 4-18 */
  .home-contact .mailing-list INPUT::-moz-placeholder { font-size: 89%; } /* FF 19+ */
  .home-contact .mailing-list INPUT:-ms-input-placeholder { font-size: 89%; } /* IE 10+ */

  #countdown {
    font-size: 50px;
  }

  #countdown DIV DIV {
    font-size: 13px;
  }

  .event-banner H2 {
    font-size: 70px;
  }

  .event-banner H3 {
    font-size: 44px;
  }

  .event-banner H4 {
    font-size: 22px;
  }

  .event H3 {
    font-size: 300%;
  }

  .tee-to-green-links A.ttg-button:link,
  .tee-to-green-links A.ttg-button:visited {
    margin: 0.5em 1.5em;
  }
}